# Data Preparation

In this notebook we will have a look to the classic data science stack for Python to prepare our data for recommender

Specifically, we will have a look to the following libraries

1. NumPy
2. Pandas
3. SciPy

In order to show the capabilities of each library, we will use the same dataset across the examples and notebooks. You will see differences.

The first and last positions of the dataset are (this dataset is located on `data/mk-100k/u.data`):

| User Id  | Item Id | Rating  | Timestamp |
| ------------- | ------------- | ------------- | ------------- |
| 196  | 242  | 3  | 881250949  |
| 186  | 302  | 3  | 891717742  |
| 22  | 377  | 1  | 878887116  |
| 244  | 51  | 2  | 880606923  |
| 166  | 346  | 1  | 886397596  |

## NumPy

NumPy is **THE** foundation of all the data science stack in Python. Most of the libraries are built on top of NumPy data structures. Make sure you take your time to understand them.

The basic data structure of NumPy is an `n-array`, i.e., an array of `n` dimensions with **LOTS** of methods to work with these arrays.

NumPy is really important in the field because it is **FAST**, most of the routines are implemented in C and you can get orders of magnitude faster when compared with their Python counterparts.

### Basic Concepts

In [1]:
import numpy as np #Â Convention, just memorize that np.<something> means a numpy method

In [2]:
one_dim_array = np.array([1,2,3,4])
one_dim_array

array([1, 2, 3, 4])

In [3]:
two_dim_array = np.array([[1,2,3,4], [1000, 1001, 1002, 1004]])
two_dim_array

array([[   1,    2,    3,    4],
       [1000, 1001, 1002, 1004]])

In [4]:
three_dim_array = np.array([[[1,2,3,4], [1000, 1001, 1002, 1004]], 
                            [[-1,-2,-3,-4], [-1000, -1001, -1002, -1003]],
                            [[1,-2,3,-4], [1000, -1001, 1002, -1003]],
                            [[-1,2,-3,4], [-1000, 1001, -1002, 1003]]])
three_dim_array

array([[[    1,     2,     3,     4],
        [ 1000,  1001,  1002,  1004]],

       [[   -1,    -2,    -3,    -4],
        [-1000, -1001, -1002, -1003]],

       [[    1,    -2,     3,    -4],
        [ 1000, -1001,  1002, -1003]],

       [[   -1,     2,    -3,     4],
        [-1000,  1001, -1002,  1003]]])

### Load Data

In [9]:
data = np.loadtxt("data/ml-100k/u.data", 
                  dtype=[('user_id', np.int32), 
                         ('item_id', np.int32), 
                         ('rating', np.int32), 
                         ('timestamp', np.int64)], 
                  delimiter="\t")
data

array([(196,  242, 3, 881250949), (186,  302, 3, 891717742),
       ( 22,  377, 1, 878887116), ..., (276, 1090, 1, 874795795),
       ( 13,  225, 2, 882399156), ( 12,  203, 3, 879959583)],
      dtype=[('user_id', '<i4'), ('item_id', '<i4'), ('rating', '<i4'), ('timestamp', '<i8')])

We can see that the data itself is loaded as an array of tuples, which is pretty inconvenient ðŸ§. I would like to have each column in a different array

In [12]:
user_ids, item_ids, ratings, timestamps = np.loadtxt("data/ml-100k/u.data", 
                                                     dtype=[('user_id', np.int32), ('item_id', np.int32), ('rating', np.int32), ('timestamp', np.int64)], 
                                                     delimiter="\t",
                                                     unpack=True)
print(f"{user_ids=}")
print(f"{item_ids=}")
print(f"{ratings=}")
print(f"{timestamps=}")

user_ids=array([196, 186,  22, ..., 276,  13,  12], dtype=int32)
item_ids=array([ 242,  302,  377, ..., 1090,  225,  203], dtype=int32)
ratings=array([3, 3, 1, ..., 1, 2, 3], dtype=int32)
timestamps=array([881250949, 891717742, 878887116, ..., 874795795, 882399156,
       879959583])

As you can see, we loaded the whole dataset with just one line of code (using `np.loadtxt`). I want to remark some things.

1. We defined our expected datatypes: **THIS IS IMPORTANT** NumPy can figure out what data types there are in the data (but if it just feels lazy it will try to load everything as a `np.float32`). Part of the huge speeds that we can obtain with NumPy and similar libraries is that we define with precision the data types that we're going to work with.

2. We defined the delimiter: Again, NumPy will try to figure out what delimiter we're using, but if we can help it, we'll get results faster (and with less probability of errors ðŸ¤“).

3. We provided the `unpack` attribute: This tells NumPy to return each column in a separate array.

Now let's see what is `data`, how it looks like, and more.

In [13]:
print(f"{one_dim_array.shape=}")
print(f"{two_dim_array.shape=}")
print(f"{three_dim_array.shape=}")

one_dim_array.shape=(4,)
two_dim_array.shape=(2, 4)
three_dim_array.shape=(4, 2, 4)

In [16]:
print(f"{one_dim_array.ndim=}")
print(f"{two_dim_array.ndim=}")
print(f"{three_dim_array.ndim=}")

one_dim_array.ndim=1
two_dim_array.ndim=2
three_dim_array.ndim=3

In [14]:
# First, let's see the shape of the array, i.e., the size of each dimension
print(f"{data.shape=}")
print(f"{user_ids.shape=}")
print(f"{item_ids.shape=}")
print(f"{ratings.shape=}")
print(f"{timestamps.shape=}")

data.shape=(100000,)
user_ids.shape=(100000,)
item_ids.shape=(100000,)
ratings.shape=(100000,)
timestamps.shape=(100000,)

In [15]:
# Let's see the number of dimensions
print(f"{data.ndim=}")
print(f"{user_ids.ndim=}")
print(f"{item_ids.ndim=}")
print(f"{ratings.ndim=}")
print(f"{timestamps.ndim=}")

data.ndim=1
user_ids.ndim=1
item_ids.ndim=1
ratings.ndim=1
timestamps.ndim=1

In [18]:
# We can access positions on the array just as with Python
print(f"{data[1]=}")
print(f"{user_ids[0]=}")
print(f"{item_ids[0]=}")
print(f"{ratings[0]=}")
print(f"{timestamps[0]=}")

data[1]=(186, 302, 3, 891717742)
user_ids[0]=196
item_ids[0]=242
ratings[0]=3
timestamps[0]=881250949

In [19]:
# We can access slices of the array too.
print(f"{data[0:10]=}")
print(f"{user_ids[0:10]=}")
print(f"{item_ids[0:10]=}")
print(f"{ratings[0:10]=}")
print(f"{timestamps[0:10]=}")

data[0:10]=array([(196, 242, 3, 881250949), (186, 302, 3, 891717742),
       ( 22, 377, 1, 878887116), (244,  51, 2, 880606923),
       (166, 346, 1, 886397596), (298, 474, 4, 884182806),
       (115, 265, 2, 881171488), (253, 465, 5, 891628467),
       (305, 451, 3, 886324817), (  6,  86, 3, 883603013)],
      dtype=[('user_id', '<i4'), ('item_id', '<i4'), ('rating', '<i4'), ('timestamp', '<i8')])
user_ids[0:10]=array([196, 186,  22, 244, 166, 298, 115, 253, 305,   6], dtype=int32)
item_ids[0:10]=array([242, 302, 377,  51, 346, 474, 265, 465, 451,  86], dtype=int32)
ratings[0:10]=array([3, 3, 1, 2, 1, 4, 2, 5, 3, 3], dtype=int32)
timestamps[0:10]=array([881250949, 891717742, 878887116, 880606923, 886397596, 884182806,
       881171488, 891628467, 886324817, 883603013])

Until here, we've seen similarities with Python, by indexing and slicing these arrays. We've not seen anything so interesting, yet.

### Arithmetic Operations

One good thing about NumPy is that it integrates very well with Python. Using operators overload, you can have arithmetic operators for arrays that are intuitive and fast.

In [20]:
print(f"{timestamps = }")

#Â Adding 1 second to the timestamps (they're in ms).
print(f"{timestamps + 1000 = }")

# Substracting 2 minutes to the timestamps.
print(f"{timestamps - 1000 * 60 * 2 = }")

timestamps = array([881250949, 891717742, 878887116, ..., 874795795, 882399156,
       879959583])
timestamps + 1000 = array([881251949, 891718742, 878888116, ..., 874796795, 882400156,
       879960583])
timestamps - 1000 * 60 * 2 = array([881130949, 891597742, 878767116, ..., 874675795, 882279156,
       879839583])

In [21]:
# Normalizing ratings
min_ratings = np.min(ratings)
max_ratings = np.max(ratings)
norm_ratings = (ratings - min_ratings) / (max_ratings - min_ratings)
norm_ratings

# Standardizing ratings
mean_ratings = np.mean(ratings)
std_ratings = np.std(ratings)
standard_ratings = (ratings - mean_ratings) / std_ratings

print(f"{norm_ratings = }")
print(f"{standard_ratings = }")

norm_ratings = array([0.5 , 0.5 , 0.  , ..., 0.  , 0.25, 0.5 ])
standard_ratings = array([-0.47070718, -0.47070718, -2.24743003, ..., -2.24743003,
       -1.35906861, -0.47070718])

### Boolean Indexing

What happens if I want to filter out those ratings lower than 4? Well, If you've used SQL, you know that a query for that will be something like this.

```sql
SELECT *
FROM data AS d
WHERE d.rating >= 4
```

How can we do something like that in NumPy? Well, we can use boolean indexing. The basic notion is that we create a boolean array, and we will 'slice' the array using this boolean array.

**IMPORTANT: The boolean array must have the same `shape` than the original array.**

First we need to create the boolean array (the `WHERE` in SQL)

In [22]:
where_clause = ratings >= 4
where_clause

array([False, False, False, ..., False, False, False])

In [23]:
where_clause.shape

(100000,)

Now that we have our boolean array, we just execute the `FROM` clause

In [24]:
user_ids[where_clause]

array([298, 253, 286, ..., 806, 676, 716], dtype=int32)

In [25]:
user_ids[where_clause].shape

(55375,)

What happened here?

Our boolean array went cell by cell of the `ratings` array asking if the cell had a value `greater or equal` than `4`. If the condition held, then that cell in `where_clause` was set to `True`. Else, the cell was set to `False`.

Here we saw two important features of NumPy (and subsequent libraries). The power of filtering and selecting data based on boolean conditions, and that writing these boolean conditions is really easy.

What happens if I want those users with ids greater than 1000 and ratings higher than 4 OR item ids lower than 500 and ratings of 5?

An SQL query would look like this:

```SQL
SELECT *
FROM data AS d
WHERE (d.rating >= 4 AND d.user_id >= 1000) OR (d.item_id < 500 AND d.rating = 5)
```

In [26]:
where_clause = ((ratings >= 4) & (user_ids >= 1000)) | ((item_ids < 500) & (ratings == 5))
where_clause

array([False, False, False, ..., False, False, False])

In [27]:
where_clause.shape

(100000,)

In [28]:
user_ids[where_clause]

array([253, 200, 122, ..., 650, 429, 716], dtype=int32)

Now that we have our boolean array, we just execute the `FROM` clause

In [22]:
user_ids[where_clause].shape

(15903,)

We can also inline the condition. Depending on the length of the condition, it could be better to inline it or not

In [18]:
user_ids[((ratings >= 4) & (user_ids >= 1000)) | ((item_ids < 500) & (ratings == 5))].shape

(15903,)

### Important! You have to think in vectors

Most of the operations are highly optimized to be done in a vectorized way (e.g. no `for` loops). 

Let's see an example of this. First we will prepare four arrays. Two arrays will be implemented as Python `lists` (`huge_array_1` & `huge_array_2`) and two arrays will be NumPy `arrays` (`numpy_huge_array_1` & `numpy_huge_array_2`). We will see the difference in speed by measuring two things: 

1. Data structure efficiency
2. Algorithm "efficiency"

We're not going to do something uterly complicated here. We are just going to sum both arrays ðŸ˜…

In [32]:
huge_array_1 = [x for x in range(10000000)]
huge_array_2 = [x*x for x in range(10000000)]

numpy_huge_array_1 = np.array(huge_array_1)
numpy_huge_array_2 = np.array(huge_array_2)

In [33]:
def sum_naive_python_loop():
    a = []
    for arr1, arr2 in zip(huge_array_1, huge_array_2):
        a.append(arr1 + arr2)
        
def sum_naive_python_list_comprehension():
    a = [arr1 + arr2 for arr1, arr2 in zip(huge_array_1, huge_array_2)]
    
def sum_naive_numpy_loop():
    a = []
    for arr1, arr2 in zip(numpy_huge_array_1, numpy_huge_array_2):
        a.append(arr1 + arr2)
        
def sum_naive_numpy_list_comprehension():
    a = [arr1 + arr2 for arr1, arr2 in zip(numpy_huge_array_1, numpy_huge_array_2)]
    
def sum_numpy_approved():
    a = numpy_huge_array_1 + numpy_huge_array_2

Show time!

In [34]:
%timeit sum_naive_python_loop()
%timeit sum_naive_python_list_comprehension()
%timeit sum_naive_numpy_loop()
%timeit sum_naive_numpy_list_comprehension()
%timeit sum_numpy_approved()

1.26 s Â± 47 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
983 ms Â± 3.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
3.24 s Â± 42 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
3.08 s Â± 132 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)
23.9 ms Â± 144 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)

## Pandas

Numpy is amazing, nobody will say the contrary. However, in our case it's like working on Assembly when we can work with C or Rust. 

As you saw, the data is inside a CSV, stored in four columns: user_ids, item_ids, ratings, and timestamps (We will call these columns `variables`). In each row of the file we have an `observation`, a point in time that describes the four variables. When the data is shaped in a columnar way like this, it is advisable to use a Pandas DataFrame to handle the data. 

We're going to do the same operations that we did with Numpy but with Pandas. Trust me, it will be for the better.

In [35]:
import pandas as pd # Convention

In [36]:
data_df = pd.read_csv("data/ml-100k/u.data",
                      names=["user_id", "item_id", "rating", "timestamp"],
                      dtype=[('user_id', np.int32), ('item_id', np.int32), ('rating', np.int32), ('timestamp', np.int64)], 
                  delimiter="\t")
data_df

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

What a difference! Apart from the case that Jupyter Notebooks have native support for Pandas DataFrames, we see that with a single function we can load the whole data (just as before) with a single function.

Similarly as with NumPy, we had to take into account some considerations:

1. We defined our expected datatypes: **THIS IS IMPORTANT** ~~NumPy~~ Pandas can figure out what data types there are in the data (but if it just feels lazy it will try to load everything as a `np.float32`). Part of the huge speeds that we can obtain with ~~NumPy~~ Pandas and similar libraries is that we define with precision the data types that we're going to work with.

2. We defined the delimiter: Again, ~~NumPy~~ Pandas will try to figure out what delimiter we're using, but if we can help it, we'll get results faster (and with less probability of errors ðŸ¤“).

### Series

Here we are in front of the concept of `Series`. Pandas stores columns in what they call `Series` which are extensions of NumPy arrays (the underlying data structure is still a Numpy Array). We can access each `Series` using either an `.attribute` notation (only with valid Python variable names) or by using the `[dictionary_key]` notation (valid with any column name).

As you can imagine, DataFrames are just collections of Series that are somehow connected together.

In [37]:
data_df.user_id

0        196
1        186
2         22
3        244
4        166
        ...
99995    880
99996    716
99997    276
99998     13
99999     12
Name: user_id, Length: 100000, dtype: int32

In [38]:
data_df["timestamp"]

0        881250949
1        891717742
2        878887116
3        880606923
4        886397596
           ...
99995    880175444
99996    879795543
99997    874795795
99998    882399156
99999    879959583
Name: timestamp, Length: 100000, dtype: int64

### Basic operations

We still have basic operations and methods.

In [39]:
# First, let's see the shape of the array, i.e., the size of each dimension
print(f"{data_df.shape=}")

# Let's see the number of dimensions
print(f"{data_df.ndim=}")

data_df.shape=(100000, 4)
data_df.ndim=2

### Indexing on Pandas

Pandas diverges in the way you access the rows or columns with respect to NumPy. For each DataFrame or Series object, we have an `index`. This `index` object is what we use to get rows under certain circumstances. 

For instance, `data_df[0]` doesn't return what you'd expect.

In [40]:
data_df[0]

KeyError: 0

Instead, you'll need to use the `iloc` attribute.

In [41]:
data_df.iloc[0]

user_id            196
item_id            242
rating               3
timestamp    881250949
Name: 0, dtype: int64

Do you remember how we retrieved the `timestamp` column before? This is what the `[]` operator works on Pandas, it returns a Series if the key matches a column name.

In [42]:
data_df["invalid_column"]

KeyError: 'invalid_column'

In [43]:
data_df["rating"]

0        3
1        3
2        1
3        2
4        1
        ..
99995    3
99996    5
99997    1
99998    2
99999    3
Name: rating, Length: 100000, dtype: int32

### Slicing on Pandas

Oh gosh, if I separated this into another section it's because it's a different topic, and you're not wrong.

Slicing works more or less the same as with Python and NumPy. But only for rows.

In [45]:
data_df[0:5]

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [46]:
data_df[0:5, 0:2]

TypeError: '(slice(0, 5, None), slice(0, 2, None))' is an invalid key

In [47]:
data_df[0:5, 2]

TypeError: '(slice(0, 5, None), 2)' is an invalid key

In [48]:
data_df[0:5, "rating"]

TypeError: '(slice(0, 5, None), 'rating')' is an invalid key

In [50]:
data_df[0:5]["rating"]

0    3
1    3
2    1
3    2
4    1
Name: rating, dtype: int32

### Operations on Columns

Remember when we added and substracted ratings, and normalized and standardized ratings? We're going to do the same. 

BUT. We're going to add those values as columns in our DataFrame ~~and maybe make a mistake too in order to delete it~~

In [52]:
data_df["timestamps_plus_one_sec"] = data_df["timestamp"] + 1000
data_df["timestamps_minus_two_mins"] = data_df["timestamp"] + 1000 * 60 * 2

data_df

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,timestamps_minus_two_mins
0,196,242,3,881250949,881251949,881370949
1,186,302,3,891717742,891718742,891837742
2,22,377,1,878887116,878888116,879007116
3,244,51,2,880606923,880607923,880726923
4,166,346,1,886397596,886398596,886517596
...,...,...,...,...,...,...
99995,880,476,3,880175444,880176444,880295444
99996,716,204,5,879795543,879796543,879915543
99997,276,1090,1,874795795,874796795,874915795
99998,13,225,2,882399156,882400156,882519156
99999,12,203,3,879959583,879960583,880079583

In [53]:
# Normalizing ratings
min_ratings = data_df.rating.min()
max_ratings = data_df.rating.max()
data_df["norm_rating"] = (ratings - min_ratings) / (max_ratings - min_ratings)

# Standardizing ratings
mean_ratings = data_df.rating.mean()
std_ratings = data_df.rating.std()
data_df["standard_ratings"] = (ratings - mean_ratings) / std_ratings

data_df

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,timestamps_minus_two_mins,norm_rating,standard_ratings
0,196,242,3,881250949,881251949,881370949,0.50,-0.470705
1,186,302,3,891717742,891718742,891837742,0.50,-0.470705
2,22,377,1,878887116,878888116,879007116,0.00,-2.247419
3,244,51,2,880606923,880607923,880726923,0.25,-1.359062
4,166,346,1,886397596,886398596,886517596,0.00,-2.247419
...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,880176444,880295444,0.50,-0.470705
99996,716,204,5,879795543,879796543,879915543,1.00,1.306009
99997,276,1090,1,874795795,874796795,874915795,0.00,-2.247419
99998,13,225,2,882399156,882400156,882519156,0.25,-1.359062
99999,12,203,3,879959583,879960583,880079583,0.50,-0.470705

Changes can also be applied to a column that already exists

In [54]:
data_df["timestamps_minus_two_mins"] = 5
data_df

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,timestamps_minus_two_mins,norm_rating,standard_ratings
0,196,242,3,881250949,881251949,5,0.50,-0.470705
1,186,302,3,891717742,891718742,5,0.50,-0.470705
2,22,377,1,878887116,878888116,5,0.00,-2.247419
3,244,51,2,880606923,880607923,5,0.25,-1.359062
4,166,346,1,886397596,886398596,5,0.00,-2.247419
...,...,...,...,...,...,...,...,...
99995,880,476,3,880175444,880176444,5,0.50,-0.470705
99996,716,204,5,879795543,879796543,5,1.00,1.306009
99997,276,1090,1,874795795,874796795,5,0.00,-2.247419
99998,13,225,2,882399156,882400156,5,0.25,-1.359062
99999,12,203,3,879959583,879960583,5,0.50,-0.470705

As I made a mistake, we should delete that column

In [55]:
del data_df["timestamps_minus_two_mins"]
data_df

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,norm_rating,standard_ratings
0,196,242,3,881250949,881251949,0.50,-0.470705
1,186,302,3,891717742,891718742,0.50,-0.470705
2,22,377,1,878887116,878888116,0.00,-2.247419
3,244,51,2,880606923,880607923,0.25,-1.359062
4,166,346,1,886397596,886398596,0.00,-2.247419
...,...,...,...,...,...,...,...
99995,880,476,3,880175444,880176444,0.50,-0.470705
99996,716,204,5,879795543,879796543,1.00,1.306009
99997,276,1090,1,874795795,874796795,0.00,-2.247419
99998,13,225,2,882399156,882400156,0.25,-1.359062
99999,12,203,3,879959583,879960583,0.50,-0.470705

### Boolean Indexing

As you can imagine, this also can be done on Pandas. At least to me, they look more like SQL than before, which I really enjoy

```sql
SELECT *
FROM data AS d
WHERE d.rating >= 4
```

**IMPORTANT: As before, the boolean array must have the same `shape` than the dataframe or series in terms of rows.**

First we need to create the boolean array (the `WHERE` in SQL)

In [56]:
where_clause = data_df.rating >= 4
where_clause

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996     True
99997    False
99998    False
99999    False
Name: rating, Length: 100000, dtype: bool

In [57]:
where_clause.shape

(100000,)

Now that we have our boolean array, we just execute the `FROM` clause

In [58]:
data_df[where_clause]

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,norm_rating,standard_ratings
5,298,474,4,884182806,884183806,0.75,0.417652
7,253,465,5,891628467,891629467,1.00,1.306009
11,286,1014,5,879781125,879782125,1.00,1.306009
12,200,222,5,876042340,876043340,1.00,1.306009
16,122,387,5,879270459,879271459,1.00,1.306009
...,...,...,...,...,...,...,...
99988,421,498,4,892241344,892242344,0.75,0.417652
99989,495,1091,4,888637503,888638503,0.75,0.417652
99990,806,421,4,882388897,882389897,0.75,0.417652
99991,676,538,4,892685437,892686437,0.75,0.417652
99996,716,204,5,879795543,879796543,1.00,1.306009

What happened here?

Our boolean array went row by row of the `data_df.rating` series asking if the cell had a value `greater or equal` than `4`. If the condition held, then that cell in `where_clause` was set to `True`. Else, the cell was set to `False`.

Here we saw two important features of ~~NumPy~~ Pandas (and subsequent libraries). The power of filtering and selecting data based on boolean conditions, and that writing these boolean conditions is really easy.

What happens if I want those users with ids greater than 1000 and ratings higher than 4 OR item ids lower than 500 and ratings of 5?

An SQL query would look like this:

```SQL
SELECT *
FROM data AS d
WHERE (d.rating >= 4 AND d.user_id >= 1000) OR (d.item_id > 5000 AND d.rating = 5)
```

In [46]:
where_clause = (((data_df.rating >= 4) & (data_df.user_id >= 1000)) 
                | ((data_df.item_id < 500) & (data_df.rating == 5)))
where_clause

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996     True
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [47]:
where_clause.shape

(100000,)

In [45]:
data_df[where_clause]

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,norm_rating,standard_ratings
7,253,465,5,891628467,891629467,1.0,1.306009
12,200,222,5,876042340,876043340,1.0,1.306009
16,122,387,5,879270459,879271459,1.0,1.306009
26,38,95,5,892430094,892431094,1.0,1.306009
29,160,234,5,876861185,876862185,1.0,1.306009
...,...,...,...,...,...,...,...
99957,833,474,5,875122675,875123675,1.0,1.306009
99961,766,91,5,891310125,891311125,1.0,1.306009
99962,650,479,5,891372339,891373339,1.0,1.306009
99963,429,199,5,882386006,882387006,1.0,1.306009
99996,716,204,5,879795543,879796543,1.0,1.306009

Now that we have our boolean array, we just execute the `FROM` clause

We can also inline the condition. Depending on the length of the condition, it could be better to inline it or not

In [46]:
data_df[((data_df.rating >= 4) & (data_df.user_id >= 1000)) | ((data_df.item_id < 500) & (data_df.rating == 5))]

,user_id,item_id,rating,timestamp,timestamps_plus_one_sec,norm_rating,standard_ratings
7,253,465,5,891628467,891629467,1.0,1.306009
12,200,222,5,876042340,876043340,1.0,1.306009
16,122,387,5,879270459,879271459,1.0,1.306009
26,38,95,5,892430094,892431094,1.0,1.306009
29,160,234,5,876861185,876862185,1.0,1.306009
...,...,...,...,...,...,...,...
99957,833,474,5,875122675,875123675,1.0,1.306009
99961,766,91,5,891310125,891311125,1.0,1.306009
99962,650,479,5,891372339,891373339,1.0,1.306009
99963,429,199,5,882386006,882387006,1.0,1.306009
99996,716,204,5,879795543,879796543,1.0,1.306009

## Scipy

Scipy is another **core** library for data science. It provides functions and methods for several domains and calculations using NumPy arrays as base.

Previously, we only took each column in a separate array. However, this data can be organized in a matrix in the following way. 

First, let's call the matrix $URM$. This matrix will have $nu$ rows and $ni$ columns. $nu$ is the number of users, and $ni$ is the number of items. For a user id $u$ and an item id $i$, the matrix cell $URM_{u,i}$ is equal to the rating that $u$ gave to $i$ ($r_{u,i}$).

Visually, the matrix looks as follows.

![URM](images/urm.png)

Not all users have rated all the items. Similarly, not all items have received a rating from every user. In fact, this matrix is **really sparse**. Which means that the number of empty spaces is **REALLY** high.

Visually,

![SPARSE](images/sparse.png)

Every black dot represents a rating, you can see that matrix is almost empty.

The good thing is that scipy contains a module for sparse matrices ðŸ¤©. We will also calculate important features of the matrix.

In [59]:
from scipy import sparse

Before going into sparse matrices. We have a little problem. These are highly optimized data structures that are needed for **certain** operations. For instance, if we're going to do operations on the rows, then we use a **row** optimized sparse matrix.

In [60]:
# Row optimized sparse matrix
urm_csr = sparse.csr_matrix((ratings, (user_ids, item_ids)))

#Â Columns optimized
urm_csc = sparse.csc_matrix((ratings, (user_ids, item_ids)))

Operations on these type of matrices must be done with care, the time they take will increase **REALLY** a lot.

In [61]:
%timeit urm_csr + urm_csr
%timeit urm_csr + urm_csc
%timeit urm_csr[:, :150]
%timeit urm_csr[:150, :]
%timeit urm_csr.tocsc()
%timeit urm_csr.tocoo()
%timeit urm_csr.tolil()

379 Âµs Â± 9.7 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
928 Âµs Â± 22.9 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
232 Âµs Â± 2.76 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
123 Âµs Â± 3.47 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)
554 Âµs Â± 7.45 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
311 Âµs Â± 5.68 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
4.55 ms Â± 76.6 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [62]:
%timeit urm_csc + urm_csc
%timeit urm_csc + urm_csr
%timeit urm_csc[:, :150]
%timeit urm_csc[:150, :]
%timeit urm_csc.tocsr()
%timeit urm_csc.tocoo()
%timeit urm_csc.tolil()

405 Âµs Â± 9.84 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
991 Âµs Â± 32.8 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
140 Âµs Â± 855 ns per loop (mean Â± std. dev. of 7 runs, 10000 loops each)
251 Âµs Â± 7.15 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
516 Âµs Â± 20.8 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
325 Âµs Â± 10.3 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)
5.3 ms Â± 56 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

## Save the data for further use

In [63]:
sparse.save_npz("data/urm_csr.npz", matrix=urm_csr, compressed=True)
sparse.save_npz("data/urm_csc.npz", matrix=urm_csc, compressed=True)

## Cheat Sheets for ya

Some people like to have everything condensed into a single PDF that you can check whenever you've a doubt. So, here you have them ðŸ‘Œ

### NumPy

**DISCLAIMER**: I'm not the author of this cheat sheet. All credits go to their respective authors.

![Nice NumPy Cheat Sheet](images/numpy_cheat_sheet.pdf)

### Pandas

**DISCLAIMER**: I'm not the author of this cheat sheet. All credits go to their respective authors.

![Nice Pandas Cheat Sheet](images/pandas_cheat_sheet.pdf)

### SciPy

**DISCLAIMER**: I'm not the author of this cheat sheet. All credits go to their respective authors.

![Nice Pandas Cheat Sheet](images/scipy_cheat_sheet.pdf)

## Some exercises for you

### Numpy

1. What is the difference between `np.loadtxt` and `np.genfromtxt`
2. What does the `np.vectorize` function do?

### Pandas

1. What is the main benefit of using pandas readers for files, such as read_csv, read_excel, instead of np.loadtxt? What are some limitations that we find in Numpy?
2. Can we create a new column using the attribute notation? i.e. can we do this? `data_df.new_col = <series>` If not, why?

### Scipy

1. What do you think could be the use of a LiL matrix? What are the differences between a Python Dictionary and a sparse matrix? Can they be equivalent?